header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90%;
    max-width: 50rem;
    margin: 0 auto 2rem auto;
    text-align: center;
    background: linear-gradient(135deg, #181818, #282828); /* Dark gradient */
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  }
  
  img {
    width: 4rem;
    object-fit: contain;
    filter: brightness(1.2); /* Slightly enhance brightness */
  }
  
  h1 {
    font-size: 1.75rem;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: bold;
  }
  
  p {
    margin: 0;
    font-size: 0.9rem;
    color: #b3b3b3;
    text-wrap: balance;
  }
  
  @media (min-width: 768px) {
    header {
      padding: 2.5rem;
    }
  
    img {
      width: 5rem;
    }
  
    h1 {
      font-size: 2rem;
    }
  }


  .angular-text {
    color: #04ff00;
    font-weight: bold;
  }
  