<app-header />

<main>
  <ul id="songs">
    <li>
      <app-songs [avatar]="songs[0].avatar" [name]="songs[0].name" />
    </li>
    <li>
      <app-songs [avatar]="songs[1].avatar" [name]="songs[1].name" />
    </li>
    <li>
      <app-songs [avatar]="songs[2].avatar" [name]="songs[2].name" />
    </li>
    <li>
      <app-songs [avatar]="songs[3].avatar" [name]="songs[3].name" />
    </li>
    <li>
      <app-songs [avatar]="songs[4].avatar" [name]="songs[4].name" />
    </li>
    <li>
      <app-songs [avatar]="songs[5].avatar" [name]="songs[5].name" />
    </li>
  </ul>
</main>
